## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
.vs/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## JetBrains Rider
.idea/
*.sln.iml

## VS Code
.vscode/

## OS
.DS_Store
Thumbs.db

## Uploads
wwwroot/uploads/avr/*
wwwroot/uploads/chat/*
!wwwroot/uploads/avr/.gitkeep
!wwwroot/uploads/chat/.gitkeep

## Environment
appsettings.*.local.json
